body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f4f6;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    color: #fd7405;
}

p {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#countdown div {
    font-size: 1.2em;
}

#countdown span {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: #1048b5;
}






